name: Vercel

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Clone Repos
        run: |
          git clone https://github.com/Statscell/clash-assets.git
          git clone https://github.com/Statscell/clash-of-clans-data.git

      - name: Copy Files
        run: |
          cp clash-assets/* -r public/assets
          cp clash-of-clans-data/output/* -r public/raw
        
      - uses: amondnet/vercel-action@v20
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          vercel-args: '--prod'
          vercel-org-id: ${{ secrets.ORG_ID }}
          vercel-project-id: ${{ secrets.PROJECT_ID }}
          working-directory: ./
          alias-domains: staging.assets.clashperk.com
